{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ if eq .Site.Params.maps "true" }}
    <div class="article-map" data-stellar-background-ratio="0.25" data-stellar-vertical-offset="1200" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center={{ .Params.map.lat }},{{ .Params.map.long }}&zoom={{ .Params.map.zoom }}&size=1680x400&scale=2')"></div>
{{ else }}
  {{ with .Params.coverphoto }} <div class="article-map" data-stellar-background-ratio="0.25" data-stellar-vertical-offset="1200" style="background-image: url('{{ .Params.coverphoto }}')"></div>{{ end }}
{{ end }}
<article id="main-container-event" >
  <header class="container article-header">
      <h1 class="title">{{ .Title }}</h1>
      {{ with .Description }}<h4 class="subtitle">{{ . }}</h4>{{ end }}
      <hr />
  </header>
  <section class="container article-content">
    <div class="article-sidebar col-sm-4">
        <ul class="sidebar-info">
        {{ if eq .Site.Params.maps "true" }}
          <li>
            <img class="street-view img-thumbnail" src="http://maps.googleapis.com/maps/api/streetview?size=300x300&location={{ .Params.map.lat }},{{ .Params.map.long }}&fov=90&heading={{ .Params.map.heading }}&pitch=0"></img>
          </li>
        {{ else }}
          {{ with .Params.smallphoto }}
          <li>
            <img class="street-view img-thumbnail" src="{{ .Params.smallphoto }}"></img>
          </li>
          {{ end }}
        {{ end }}
          <li><h3>{{ .Params.event.location }}</h3></li>
          <li class="text-muted"><time>{{ .Params.event.date }}</time></li>
          <li class="text-muted"><time>{{ .Params.event.time }}</time></li>
        </ul>
    </div>
    <div class="col-sm-8">
        {{ .Content }}
    </div>
  </section>
  <footer class="container article-footer">
    <hr />
    {{ with .Site.Params.artist.image }}<img class="avatar" src="{{ . }}">{{ end }}
    <address class="content">
        <p><strong><a rel="author" href="{{ .Site.Params.artist.link }}" title="{{ .Site.Params.artist.name }}" target="_blank">{{ .Site.Params.artist.name }}</a></strong><br>
        <span class="muted">{{ .Site.Params.artist.description }}</span>
        </p>
    </address>
  </footer>
</article>
{{ partial "footer.html" . }}
