{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ $author := .Params.author }}
<div class="wrapper">
  {{ with .Params.coverimage }}<div class="article-cover" data-stellar-background-ratio="0.25" style="background-image: url({{ . }})"></div>{{ end }}
  <article id="main-container" >
    <header class="container article-header">
        <h1 class="title">{{ .Title }}</h1>
        {{ with .Description }}<h4 class="text-muted subtitle">{{ . }}</h4>{{ end }}
        <hr />
    </header>
    {{ with .Content }}
    <section class="container article-content">
      {{ . }}
      <hr />
    </section>
    {{ end }}
    <div class="container article-gallery">
       <ul>
         {{ range .Params.gallery }}
           <li class="col-sm-4">
             <a href="#" class="thumbnail img-modal">
               <img class="img-modal" src="{{ . }}"></img>
             </a>
            </li>
         {{ end }}
       </ul>
    </div>
    <footer class="container article-footer">
      <hr />
      {{ range $element := .Site.Params.authors }}
        {{ if eq $element.name $author }}
        <img class="avatar" src="{{ $element.image }}">
        <address class="content">
          <p><strong><a rel="author" href="{{ $element.link }}" title="{{ $element.name }}" target="_blank">{{ $element.name }}</a></strong><br>
          <span class="muted">{{ $element.description }}</span>
          </p>
        {{ end }}
      {{ end }}
      </address>
    </footer>
  </article>
</div>
{{ partial "footer.html" . }}
