{{ $author := .Params.author }}
<section class="summary">
    {{ range first 1 .Params.gallery }}<img src="{{ . }}" class="avatar">{{ end }}
    <div class="content">
        <h4 class="title"><a href="{{ .RelPermalink }}" rel="prefetch">{{ .Title }}</a></h4>
      {{ with .Description }}<h5 class="subtitle">{{ . }}</h5>{{ end }}
      {{ if isset .Params "excerpt" }}
        <p>{{ .Params.excerpt }}</p>
      {{ else }}
        <p>{{ .Summary }}</p>
      {{ end }}
  {{ range $element := .Site.Params.authors }}
    {{ if eq $element.name $author }}
      <div class="meta">
          Written By <a href="{{ $element.link }}"><address>{{ $element.name }}</address></a> &mdash;
      {{ end }}
    {{ end }}
          <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      </div>
    </div>
    <hr />
</section>
