.summary, .article-footer {
  margin:0 auto;

  .avatar {
    float:left;
    border-radius:64px;
    height:48px;
    width:48px;
    margin-top:0px;
  }

  .content {
    margin-left:80px;
  }
}

.meta, .meta a, .meta address {
    color:$text-muted;
    font-size:$font-size-small;
    text-transform:uppercase;
    display:inline;
}

article {
  padding:60px 0px;
}

.article-cover, .article-map {
  width:100%;
  height:400px;
  background-size:cover;
  background-attachment: fixed;
}

.article-cover:before, .article-map:before {
  content: "";
  width:100%;
  height:400px;
  position:absolute;
  top:0;
  left:0;
  @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.7) 100%));
  z-index: 10;
}

.article-gallery li {
  list-style:none;
}

.sidebar-purchase li, .sidebar-info li {
  list-style:none;
}

.sidebar-purchase li {
  display:inline;
}

.sidebar-purchase > li {
  padding-right:.5em;
}

.album-image, .street-view {
  width:100%;
  position:relative;
}

.article-sidebar ul, .article-sidebar ol {
  padding:0;
  .album-image {
    padding-bottom:11px;
  }
}

.subtitle {
  color:$text-muted;
}

.article-content {
  h1 {
    font-size: $font-size-h2;
  }
  h2 {
    font-size: $font-size-h3;
  }
  h3 {
    font-size: $font-size-h4;
  }
  h4 {
    font-size: $font-size-h5;
  }
  h5 {
    font-size: $font-size-h6;
  }
  h6 {
    font-size: ceil(($font-size-base * 0.75))
  }
}
