.header {
  display:none;
}

.chords {
  padding: .5em 0 .5em 0;
}

.chord {
  display: inline;
}

.chordbox {
  width: 2cm;
  height: 2cm;
}

.chordbox text .fretmarker {
  font-size: 60%;
  font-style: italic;
  dominant-baseline: central;
  text-anchor: end;
}

.chordbox text.chordname {
  text-anchor: middle;
}

.chordbox circle.fretted {
  fill: black;
  stroke: black;
}

.chordbox circle.open {
  fill: none;
  stroke: black;
}

.chordbox line, .chordbox path {
  stroke-linecap: square;
  stroke: black;
}

.chordbox line.fret {}

.chordbox line.nut {
  stroke-width: 2px;
}

.chordbox line.string {}
.chordbox path.unplayed {}
.stanza {
  padding-bottom: 1em;
}

.repeat {
  display: inline-block;
  float: right;
  font-style: italic;
}

.repeat:before {
  content: 'repeat x ';
}

.stanzaline {}

.withchords {
  padding-top: 1em;
}

.stanzaname {
  display:none;
}

.barsystem {
  border-left: 2px solid;
  margin: 0 0 1ex 0;
}

.bar {
  border-right: 2px solid;
  display: inline-block;
  width: 7em;
  padding: 0 1em;
  text-align: center;
}

.barelement {
  display: inline-block;
  padding: 0 5px;
  }

.lyric {
  display: inline;
}

.chordref {
  width: 0;
  display: inline-block;
  position: relative;
  top: -1em;
  text-align: center;
  vertical-align: baseline;
}

.undefined {
  color: red;
}
