{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ $author := .Params.author }}
<div class="wrapper">
  {{ with .Params.coverimage }}
    <div class="article-cover" data-stellar-background-ratio="0.25" style="background-image: url({{ . }})"></div>
  {{ end }}
  <article id="main-container" >
    <header class="container article-header">
        {{ range $element := .Site.Params.authors }}
          {{ if eq $element.name $author }}
            <div class="meta">
              By <address><a rel="author" href="{{ $element.link }}" title="{{ $element.name }}" target="_blank">{{ $element.name }}</a></address> &mdash;
            {{ end }}
          {{ end }}
              <time pubdate datetime="{{ .Date.Format "2006-01-02" }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
            </div>
        <h1 class="title">{{ .Title }}</h1>
        {{ with .Description }}<h4 class="subtitle">{{ . }}</h4>{{ end }}
        <hr />
    </header>
    {{ if or (eq .Params.toc "true") (eq .Params.toc true) }}
    <section id="article-content" class="container article-content">
      <div class="col-sm-9">
        {{ .Content }}
      </div>
      <div id="article-toc" class="col-sm-3">
        {{ .TableOfContents }}
      </div>
    </section>
    {{ else }}
    <section id="article-content" class="container article-content">
      {{ .Content }}
    </section>
    {{ end }}
    <footer class="container article-footer">
      <hr />
      {{ range $element := .Site.Params.authors }}
        {{ if eq $element.name $author }}
        <img class="avatar" src="{{ $element.image }}">
        <address class="content">
          <p><strong><a rel="author" href="{{ $element.link }}" title="{{ $element.name }}" target="_blank">{{ $element.name }}</a></strong><br>
          <span class="muted">{{ $element.description }}</span>
          </p>
        {{ end }}
      {{ end }}
      </address>
    </footer>
  </article>
</div>
{{ partial "footer.html" . }}
