<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  {{ with .Site.Params.fonts }}<link href='http://fonts.googleapis.com/css?family={{ . }}' rel='stylesheet' type='text/css'>{{ end }}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.js" type="text/javascript"></script>
  <script src="/js/jquery.jplayer.min.js" type="text/javascript"></script>
  <script src="/js/waypoints.min.js" type="text/javascript"></script>
  <script src="/js/jquery.stellar.min.js" type="text/javascript"></script>
  <script src="/js/stage.js" type="text/javascript"></script>
  {{ if eq .Type "song" }}
  <script src="/js/jquery.leadsheet.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready( function() {
      var leadSheet = new LeadSheet();
      $(".leadsheet-lyrics").each(function (i, obj) {
        var lyrics = $(this).text().trim();
        leadSheet.parse(lyrics);
        $(this).html(leadSheet.emit());
      });
    });
  </script>
  {{ end }}
</head>
<body>
  <div class="wrapper">
